@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Application.Dtos.UserDtos

@model LogInDTO;


@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        @TempData["Message"]
    </div>
}
<form asp-controller="Auth" asp-action="LogIn">

    <label asp-for="UserEmail" ></label>
    <input asp-for="UserEmail" type="email" required />

    <label asp-for="Password"></label>
    <input asp-for="Password"  type="password" required/>

    <button type="submit">Log In</button>
</form>
